App {
    font-family: 'montserrat', sans-serif;
}
.router-link-exact-active {
  font-weight: bold;
}
.btn-success {
  background-color: #2786c5;
}

.card-product {
  border-radius: 15px;

}

.card-img-top {
border-top-right-radius:15px ;
border-top-left-radius: 15px;
}
.card-img-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
}
.breadcrumb-item.active {
  font-weight: bold;
  color: black;
}
.img-fluid {
  border-radius: 15px;
}
.row mt-4 {
  padding: 20px;
}
.control ul li{
  list-style: none;
  background-color: #0d0669;
  padding: 5px 15px;
  color: rgba(255, 251, 251, 0.925);
  display: inline-block;
  cursor: pointer;
  letter-spacing: 2px;
}

.navbar {
  background-color: #8ab1fa;
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #212529;
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #8ab1fa;
}



/* CSS untuk form pencarian */
.nav-form {
  margin-left: auto;
  
}

.nav-form .form-inline {
  display: flex;
  align-items: center;
  
}

.nav-form .from-control {
  margin-right: 10px;
}

/* CSS untuk ikon keranjang belanja */
.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
}

.navbar-nav .nav-item .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 2px 6px;
  font-size: 12px;
}

/* CSS untuk dropdown menu */
.dropdown-menu {
  background-color: #5eaaf7;
}

.dropdown-menu .dropdown-item {
  color: #212529;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #acd4ff;
  color: #fff;
}
.gamb {
  display: flex;
  justify-content: flex-end;
  width: 60%; 
  height: auto;
}

.sosmed {
  display: flex;
  align-items: center;
}

.whatsapp-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.instagram-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.whatsapp-container img,
.instagram-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


